run = "npm run dev"
entrypoint = "package.json"
modules = ["nodejs-20"]

[deployment]
run = "npm run api:start"
build = "npm run web:export"

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8787
externalPort = 3000

[nix]
channel = "stable-25_05"
